h2{
  text-align: center;
  margin-top: 5vh;
  color: darkblue;
}

.drum-pads {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  
  padding: 10px;
  
  width: 65%;
  
}


.App{
  
  display: flex;
  justify-content: center;
  height: 90%;
  margin-top: 10vh ;
}

.drum-pad{
  border: 1px solid darkblue;
  width: 105px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  
}

#drum-machine{
  border: 5px solid rgb(14, 12, 143);
  background-color: lightblue;
  height: 500px;
  min-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#display{
  
  background-color: azure;
  border: 2px solid darkblue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 120px;
  height: 60px;
  margin-right: 20px ;

}